.container {
    width: 100%;
    height: 100vh;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    align-items: center;
    justify-items: center;
    border: 1px solid gold;
    box-shadow: inset 0 0 5px 3px gold;
}

.cards__card {
    padding: 20px 0;
    width: 70%;

}

.card__avatar {
    width: 90%;
    margin: 0 auto;
}

.card__avatar__img {
    width: 100%;
    display: block;
    object-fit: cover;
    text-align: left;
}

.card__description {
    padding: 20px;
    text-transform: uppercase;
}